.fa{
  font-family: 'Abril Fatface', cursive;
}
.fb{
font-family: 'Righteous', cursive;
}
.header1{
  font-size: 5rem
}

.cen {
  display: flex;
  justify-content: center;
  }

#header{
  background: url("bricks.jpg") 
  /* background: url("header.jpeg") center center / cover no-repeat */
}